#################
## Jaxxa's Files to ignore.
#################
# Lines that start with '#' are comments.

*.suo
*.dll
*.exe

**/bin
**/obj


Source/\.vs/ED-ShieldsBasic/v15/Server/sqlite3/
Source/1.0/.vs/
Source/1.1/.vs/
Source/.vs/
ED-Shields/1.1/Assemblies/0Harmony.xml
Source/1.0/ED-Shields_1.0.csproj.user
Source/1.1/ED-Shields_1.1.csproj.user
